@{
    ViewBag.Title = "Home Page";
}
<section id="banner">
    <div class="inner">
        <h1>Brightworks</h1>
        <p>
            Brightworks is a free to use, open source staff utility tool designed to provide organizations a flexible set
            of management solutions. Our goal is to exceed the quality
            expectations of our customers through innovation, technical excellence,
            and continuous improvement.
        </p>
    </div>
    <video autoplay loop muted playsinline src="~/images/banner.mp4"></video>
</section>


<!-- Highlights -->
<section class="wrapper">
    <div class="inner">
        <header class="special">
            <h1>What can Brightworks do for you?</h1>
            <p>
                <ol><font size="4">Real-time management with GPS location services</font></ol>
                <ol><font size="4">Security with multi-factor authentication</font></ol>
                <ol><font size="4">Effective communication through a public chat forum</font></ol>
                <ol><font size="4">Active project listing</font></ol>
                <ol><font size="4">Ease of access with popular social media outlets</font></ol>

            </p>
        </header>

    </div>
</section>

<!-- CTA -->
<section id="cta" class="wrapper">
    <div class="inner">
        <h1>Contact us to learn more and get started today!</h1>

    </div>
</section>